.div-cart-products {
    display: flex;
    flex-wrap: wrap;
}

.cart-item {
    margin-left: 3rem;
}

.title-cart-name {
    font-size: 30px;
    margin-left: 3rem;
}

.div-cart-price {
    background-color: rgb(212, 212, 212);
    width: 13rem;
    margin-bottom: 3rem;
    border-radius: 10px;
    margin-left: 3rem;
    padding: 3px;
}

.title-cart-price {
    font-size: 28px;
}